# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.spec
localpycs/

# Virtual env
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Backups (opcional - descomenta si no quieres subirlos)
# data/backup/

# Logs
*.log
debug-logs/
